html {
  height: 100%;
}


#background-container {
  position: relative;

}

#background-image {
  position: absolute;
}

#key-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: inline-block;

  z-index: 1;
}

#keys_row_1 {
  width: 90%;
  padding: 1em;
  margin-left: 5%;
  height:100%;
}

#kick {
  position: absolute;
}


.key_text {
  position: relative;
  z-index: 2;
}

kbd {
  position: relative;
  width: 5em;
  height: 5em;
  padding: 1em;
   display: inline-block;
}

#key-container {
  width: 100%;
}